body {
    height: 1500px;
    position: relative;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    display: inline;
    padding: 10px;
    list-style: none;
}

nav {
    background-color:aqua;
    position: fixed;
    width: 100%;
    padding: 10px;
}

a:hover {
    background-color: blueviolet
}

a {
    text-decoration: none;
}

#house {
    margin-right: auto;
}
